<div class="d-flex justify-content-center p-4">
    <a href="/users/logout"><h3>Cerrar Sesión</h3></a>
</div>

<p>Bienvenido/a, {{data.first_name}} {{data.last_name}}!</p>

<h2>LISTA DE PRODUCTOS</h2>
{{#each products}}
<div class="prod__wrapper">
    <h2 class="prod__title">{{this.title}}</h2>
    <p class="prod__des">{{this.description}}</p>
    <p class="prod__price">${{this.price}}</p>
    <img class="prod__img" src={{this.thumbnails}} alt="">
</div>
{{/each}}

